@page "/weather"
@using System.Net.Http.Json
@using MySqlConnector
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (forecasts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th aria-label="Temperature in Celsius">Temp. (C)</th>
            <th aria-label="Temperature in Farenheit">Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
        </tbody>
    </table>
    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>Value</th>
            </tr>
        </thread>
        <tbody>
        @foreach(var entry in entries)
        {
            <tr>
                <td>@entry.Id</td>
                <td>@entry.Value</td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn btn-primary" @onclick="">Add</button>
    <button class="btn btn-primary" @onclick="">Delete</button>
    <button class="btn btn-primary" @onclick="">edit</button>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        var startDate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] {"Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = startDate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    private List<Test> entries = new List<Test>();
    private MySqlConnection _connection = new("server=localhost;user=root;password=insy;database=mydb");

    protected override void OnInitialized()
    {
        _connection.Open();
        using var command = new MySqlCommand("SELECT * FROM test", _connection);
        using var reader = command.ExecuteReader();
        while (reader.Read())
        {
            int value1 = reader.GetInt32(0);
            string value2 = reader.GetString(1);
            entries.Add(new Test { Id = value1, Value = value2 });
        }
        _connection.Close();
    }

    private class Test
    {
        public int Id { get; set; }
        public string Value { get; set; }
    }
}